<!DOCTYPE html>
<html>
<head>
    <title>Students collab</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>

<body>
<div class="w3-bar w3-dark-gray">
    <a href="/api/v1/etudiants/accueil" class="w3-bar-item w3-button">Accueil</a>
    <a href="/api/v1/etudiants" class="w3-bar-item w3-button w3-hide-small">Liste étudiants</a>
    <a href="/api/v1/etudiants/creer-compte" class="w3-bar-item w3-button w3-hide-small">Créer compte</a>
    <a href="/api/v1/etudiants/connexion" class="w3-bar-item w3-button w3-hide-small">Connexion</a>

    <a href="/api/v1/formations" class="w3-bar-item w3-button w3-hide-small">Liste formations</a>
    <a href="/api/v1/formations/creer" class="w3-bar-item w3-button w3-hide-small">Creer une formation</a>

    <a href="/api/v1/inscriptions/creer" class="w3-bar-item w3-button w3-hide-small">S'inscrire à une formation</a>
</div>

<h2>Liste des formations</h2>
<table class="w3-table-all w3-hoverable">
    <tr>
        <th>Nom</th>
        <th>Niveau</th>
    </tr>
    <tr th:each="formation : ${formations}">
        <td th:text="${formation.nom}"></td>
        <td th:text="${formation.niveau}"></td>

        <td><form th:method="get" th:action="${'/api/v1/formations/' + formation.id}">
            <button class="w3-button w3-black" type="submit">Consulter</button>
        </form></td>

        <td><form th:method="delete" th:action="${'/api/v1/formations/delete/' + formation.id}">
            <button class="w3-button w3-black" type="submit">Supprimer</button>
        </form></td>
    </tr>
</table>
</body>
</html>
