<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Formulaire d'ajout d'une Matiere</title>
</head>
<body>
<div class="w3-bar w3-dark-gray">
    <a href="/api/v1/etudiants/accueil" class="w3-bar-item w3-button">Accueil</a>
    <a href="/api/v1/etudiants" class="w3-bar-item w3-button w3-hide-small">Liste étudiants</a>
    <a href="/api/v1/etudiants/creer-compte" class="w3-bar-item w3-button w3-hide-small">Créer compte</a>
    <a href="/api/v1/etudiants/connexion" class="w3-bar-item w3-button w3-hide-small">Connexion</a>
    <a href="/matieres" class="w3-bar-item w3-button w3-hide-small">Matières</a>
    <a href="/api/v1/formations" class="w3-bar-item w3-button w3-hide-small">Liste formations</a>
    <a href="/api/v1/formations/creer" class="w3-bar-item w3-button w3-hide-small">Creer une formation</a>
    <a href="/api/v1/inscriptions/creer" class="w3-bar-item w3-button w3-hide-small">S'inscrire à une formation</a>
    <a href="/api/v1/cours/new" class="w3-bar-item w3-button w3-hide-small">Créer une note de cours</a>
    <a href="/api/v1/cours/all" class="w3-bar-item w3-button w3-hide-small">Voir les notes de cours</a>
</div>
<h1>Ajout d'une Matiere</h1>
<form action="#" th:action="@{/matiere}" th:object="${matiereAj}" method="post">
    <p>Nom: <input type="text" th:field="*{nom}" /></p>
    <p><input type="submit" value="Enregistrer" /> <input type="reset" value="Effacer" /></p>
</form>
</body>
</html>