<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/w3.css"
          th:href="@{/w3.css}" rel="stylesheet" media="screen"/>
    <title>Formulaire d'ajout d'une note de cours</title>
</head>
<body>
<h1>Ajout d'une note de cours</h1>
<form action="#" th:action="@{/cours}" th:object="${noteCours}" method="post">
    <p>Titre: <input type="text" th:field="*{titre}" /></p>
    <p>Contenu: <input type="text" th:field="*{contenu}" /></p>
    <p><input type="submit" value="Enregistrer" /> <input type="reset" value="Effacer" /></p>
</form>
</body>
</html>