<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/w3.css"
          th:href="@{/w3.css}" rel="stylesheet" media="screen"/>
    <title>Formulaire d'ajout d'une note de cours</title>
</head>
<body>
<div class="w3-bar w3-dark-gray">
    <a href="/api/v1/etudiants/accueil" class="w3-bar-item w3-button">Accueil</a>
    <a href="/api/v1/etudiants" class="w3-bar-item w3-button w3-hide-small">Liste étudiants</a>
    <a href="/api/v1/etudiants/creer-compte" class="w3-bar-item w3-button w3-hide-small">Créer compte</a>
    <a href="/api/v1/etudiants/connexion" class="w3-bar-item w3-button w3-hide-small">Connexion</a>
    <a href="/matieres" class="w3-bar-item w3-button w3-hide-small">Matières</a>
    <a href="/api/v1/formations" class="w3-bar-item w3-button w3-hide-small">Liste formations</a>
    <a href="/api/v1/formations/creer" class="w3-bar-item w3-button w3-hide-small">Creer une formation</a>
    <a href="/api/v1/inscriptions/creer" class="w3-bar-item w3-button w3-hide-small">S'inscrire à une formation</a>
    <a href="/api/v1/cours/new" class="w3-bar-item w3-button w3-hide-small">Créer une note de cours</a>
    <a href="/api/v1/cours/all" class="w3-bar-item w3-button w3-hide-small">Voir les notes de cours</a>
</div>

<form class="w3-container w3-display-middle" action="#" th:action="@{/api/v1/cours/new}" th:object="${noteCours}" th:method="post">
    <h2>Ajout d'une note de cours</h2>
    <p>Matière :</p>
    <select class="form-control" name="matiere" th:field="${noteCours.matiere}">
        <option th:each="m : ${matieres}"
                th:value="${m.id}"
                th:text="${m.nom}">
        </option>
    </select>
    <p>Titre: <input class="w3-input w3-border" type="text" th:field="*{titre}" /></p>
    <p>Contenu: <textarea class="w3-input w3-border" rows="10" th:field="*{contenu}" /></p>
    <p><input class="w3-btn" type="submit" value="Enregistrer" /> <input class="w3-btn" type="reset" value="Effacer" /></p>
</form>
</body>
</html>