<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/w3.css"
          th:href="@{/w3.css}" rel="stylesheet" media="screen"/>
    <title>Formulaire d'ajout d'une note de cours</title>
</head>
<body>
<div class="w3-bar w3-dark-gray">
    <a href="/api/v1/etudiants/accueil" class="w3-bar-item w3-button">Accueil</a>
    <a href="/api/v1/etudiants" class="w3-bar-item w3-button w3-hide-small">Liste étudiants</a>
    <a href="/api/v1/etudiants/creer-compte" class="w3-bar-item w3-button w3-hide-small">Créer compte</a>
    <a href="/api/v1/etudiants/connexion" class="w3-bar-item w3-button w3-hide-small">Connexion</a>
    <a href="/matieres" class="w3-bar-item w3-button w3-hide-small">Matières</a>
</div>
<h1>Ajout d'une note de cours</h1>
<form action="#" th:action="@{/cours}" th:object="${noteCours}" method="post">
    <p>Titre: <input type="text" th:field="*{titre}" /></p>
    <p>Contenu: <input type="text" th:field="*{contenu}" /></p>
    <p><input type="submit" value="Enregistrer" /> <input type="reset" value="Effacer" /></p>
</form>
</body>
</html>