<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notes de cours</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Toutes les notes</h1>
<table>
    <tbody>
    <tr th:each="noteCours: ${liste}">
        <a th:href="@{'/cours/'+ ${noteCours.id}}" th:text="${noteCours.titre}" />
        <p th:text="'contenu: ' + ${noteCours.contenu}" />
        <ul th:each="commentaire: ${noteCours.commentaires}">
            <li th:text="${commentaire.contenu}"></li>
        </ul>
    </tr>
    </tbody>
</table>
<form name="nouveau" action="#" th:action="@{/cours/new}">
    <p><input type="submit" value="Nouveau" /></p>
</form>
</body>
</html>