<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Note de cours</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="w3-bar w3-dark-gray">
    <a href="/api/v1/etudiants/accueil" class="w3-bar-item w3-button">Accueil</a>
    <a href="/api/v1/etudiants" class="w3-bar-item w3-button w3-hide-small">Liste étudiants</a>
    <a href="/api/v1/etudiants/creer-compte" class="w3-bar-item w3-button w3-hide-small">Créer compte</a>
    <a href="/api/v1/etudiants/connexion" class="w3-bar-item w3-button w3-hide-small">Connexion</a>
    <a href="/matieres" class="w3-bar-item w3-button w3-hide-small">Matières</a>
    <a href="/api/v1/formations" class="w3-bar-item w3-button w3-hide-small">Liste formations</a>
    <a href="/api/v1/formations/creer" class="w3-bar-item w3-button w3-hide-small">Creer une formation</a>
    <a href="/api/v1/inscriptions/creer" class="w3-bar-item w3-button w3-hide-small">S'inscrire à une formation</a>
    <a href="/api/v1/cours/new" class="w3-bar-item w3-button w3-hide-small">Créer une note de cours</a>
    <a href="/api/v1/cours/all" class="w3-bar-item w3-button w3-hide-small">Voir les notes de cours</a>
</div>
<h1>Note ajoutée</h1>
<p th:text="'id: ' + ${noteCours.id}" />
<p th:text="'titre: ' + ${noteCours.titre}" />
<p th:text="'contenu: ' + ${noteCours.contenu}" />
<p th:text="'nbLike: ' + ${noteCours.nbLike} + ', nbDislike: ' + ${noteCours.nbDislike}" />
<p th:text=" 'redacteur: ' + ${noteCours.redacteur.nom} + ' ' + ${noteCours.redacteur.prenom}" />
<p>
    <form action="#" th:action="${'/api/v1/cours/like/' + noteCours.id}" th:with="etudiantId=${etudiant.id}" method="get">
        <input type="submit" value="Like" />
    </form>
    <form action="#" th:action="${'/api/v1/cours/dislike/' + noteCours.id}" th:with="etudiantId=${etudiant.id}" method="get">
        <input type="submit" value="Dislike" />
    </form>
</p>
<form action="#" th:action="@{/cours/all}">
    <p><input type="submit" value="Voir tout" /></p>
</form>
</body>
</html>