<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notes de cours</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="w3-bar w3-dark-gray">
    <a href="/api/v1/etudiants/accueil" class="w3-bar-item w3-button">Accueil</a>
    <a href="/api/v1/etudiants" class="w3-bar-item w3-button w3-hide-small">Liste étudiants</a>
    <a href="/api/v1/etudiants/creer-compte" class="w3-bar-item w3-button w3-hide-small">Créer compte</a>
    <a href="/api/v1/etudiants/connexion" class="w3-bar-item w3-button w3-hide-small">Connexion</a>
    <a href="/matieres" class="w3-bar-item w3-button w3-hide-small">Matières</a>
    <a href="/api/v1/formations" class="w3-bar-item w3-button w3-hide-small">Liste formations</a>
    <a href="/api/v1/formations/creer" class="w3-bar-item w3-button w3-hide-small">Creer une formation</a>
    <a href="/api/v1/inscriptions/creer" class="w3-bar-item w3-button w3-hide-small">S'inscrire à une formation</a>
</div>
<h1>Toutes les notes</h1>
<table>
    <tbody>
    <tr th:each="noteCours: ${liste}">
        <a th:href="@{'/cours/'+ ${noteCours.id}}" th:text="${noteCours.titre}" />
        <p th:text="'contenu: ' + ${noteCours.contenu}" />
        <ul th:each="commentaire: ${noteCours.commentaires}">
            <li th:text="${commentaire.contenu}"></li>
        </ul>
    </tr>
    </tbody>
</table>
<form name="nouveau" action="#" th:action="@{/cours/new}">
    <p><input type="submit" value="Nouveau" /></p>
</form>
</body>
</html>