<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students collab</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>

<body>
<div class="w3-bar w3-dark-gray">
    <a href="/api/v1/etudiants/accueil" class="w3-bar-item w3-button">Accueil</a>
    <a href="/api/v1/etudiants" class="w3-bar-item w3-button w3-hide-small">Liste étudiants</a>
    <a href="/api/v1/etudiants/creer-compte" class="w3-bar-item w3-button w3-hide-small">Créer compte</a>
    <a href="/api/v1/etudiants/connexion" class="w3-bar-item w3-button w3-hide-small">Connexion</a>
    <a href="/matieres" class="w3-bar-item w3-button w3-hide-small">Matières</a>
    <a href="/api/v1/formations" class="w3-bar-item w3-button w3-hide-small">Liste formations</a>
    <a href="/api/v1/formations/creer" class="w3-bar-item w3-button w3-hide-small">Creer une formation</a>
    <a href="/api/v1/inscriptions/creer" class="w3-bar-item w3-button w3-hide-small">S'inscrire à une formation</a>
    <a href="/cours/new" class="w3-bar-item w3-button w3-hide-small">Créer une note de cours</a>
    <a href="/cours/all" class="w3-bar-item w3-button w3-hide-small">Voir les notes de cours</a>
</div>


<div class="w3-container w3-display-middle">

<form  th:method="post" th:object="${etudiant}" th:action="${'/api/v1/etudiants/update/' + etudiant.id}">
    <h2>Modifier étudiant</h2>

    <p>
        <label class="">Nom</label>
        <input class="w3-input w3-border" th:value="${etudiant.nom}" th:field="${etudiant.nom}" type="texte" name="nom">
    </p>

    <p>
        <label class="">Prénom</label>
        <input class="w3-input w3-border" th:value="${etudiant.prenom}" th:field="${etudiant.prenom}" type="texte" name="prenom">
    </p>

    <p>
        <label class="">Email</label>
        <input class="w3-input w3-border" th:value="${etudiant.email}" th:field="${etudiant.email}" type="texte" name="email">
    </p>

    <p>
        <label class="">Mot de passe</label>
        <input class="w3-input w3-border" th:value="${etudiant.motDePasse}" th:field="${etudiant.motDePasse}" type="password" name="motDePasse">
    </p>

    <p>
        <button class="w3-button w3-black" type="submit">Valider midification</button>
    </p>
</form>

<form th:method="post" th:action="${ '/api/v1/etudiants/delete/' + etudiant.id}">
    <button class="w3-button w3-black" type="submit">Supprimer compte</button>
</form>

</div>
</body>
</html>