<!DOCTYPE html>
<html>
<head>
    <title>Students collab</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>

<body>
<div class="w3-bar w3-dark-gray">
    <a href="/api/v1/etudiants/accueil" class="w3-bar-item w3-button">Accueil</a>
    <a href="/api/v1/etudiants" class="w3-bar-item w3-button w3-hide-small">Liste étudiants</a>
    <a href="/api/v1/etudiants/creer-compte" class="w3-bar-item w3-button w3-hide-small">Créer compte</a>
    <a href="/api/v1/etudiants/connexion" class="w3-bar-item w3-button w3-hide-small">Connexion</a>
    <a href="/matieres" class="w3-bar-item w3-button w3-hide-small">Matières</a>
</div>

<h2>Bienvenue sur students collab</h2>
<h2>Veuillez consulter vos mails pour valider votre inscriptionToMatiere</h2>
</body>
